// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
//$v-background-color: #232525;
//$v-focus-color: #3c7ad0;
//$v-focus-style: 0 0 3px 2px $v-focus-color;
//$v-bevel-depth: 40%;
//$v-gradient: v-linear 12%;
//$v-border-radius: 10px;
//$v-font-family: Roboto, sans-serif;
//$v-font-weight: 400;
//$v-font-weight--header: 400;
//$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
////$v-shadow: 0 0 0 3px rgba(13, 15, 15, 0.32), 0 1px 0 3px rgba(255,255,255,0.14);
//$v-textfield-bevel: inset 0 2px 2px v-shade;
//$v-textfield-shadow: $v-shadow;
//$v-unit-size: 40px;
//$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
//$v-component-group-spacing: 6px;
@import "../valo/valo.scss";
@import "./charts.scss";

@include font-face('IstokWeb',
        '../../../../bank/fonts/IstokWeb-Regular', 400, normal);

@include font-face('IstokWeb',
        '../../../../bank/fonts/IstokWeb-Italic', 400, italic);

@include font-face('IstokWeb',
        '../../../../bank/fonts/IstokWeb-Bold', 700, normal);

@include font-face('IstokWeb',
        '../../../../bank/fonts/IstokWeb-BoldItalic', 700, italic);

@mixin bank {
  $v-font-family: 'IstokWeb';

  //$v-friendly-color: #03a9f4;

  //$v-background-color: hsl(200, 15%, 73%);

  //$v-font-color: valo-font-color($v-background-color) !default;

  .hidden {
    display: none;
  }
  @include valo;

  .upload-info .v-progressbar-wrapper {
    height: 25px;
  }
  .new-row {
    font-style: italic;
    color: #558b2f;
  }
  .changed-row {
    color: #558b2f;
  }
  .deletion-row td {
    font-style: italic;
    text-decoration: line-through;
  }
  .invalid-row,
  .changed-row.invalid-row {
    color: #b71c1c;
  }
  .no-stripes .v-grid-row-stripe > td {
    // background: inherit;
  }

  .gray-row {
    color: #7b7b7b;
  }
  .to-right {
    text-align: right;
  }

  .error-grid-cell {
    color: #000;
    background-color: rgb(255, 238, 238) !important;
  }
  .pseudo-rowspan-hidden > div {
    display: none;
  }
  .toggle-on {
    background: #4CAF50;
    color: #ffffff;
  }
  .toggle-subscribing {
    background: #FFA726;
    color: #ffffff;
  }
  .toggle-off {
    background: #ef5350;
    color: #ffffff;
  }
  .v-menubar-menuitem-brand.v-menubar-menuitem-disabled {
    opacity: 1;
  }
  .v-margin-top.no-top-padding {
    padding-top: 0;
  }
  .no-padding > .v-grid-cell {
    text-align: center;
    margin: 0 auto;
  }
  .no-padding > .v-grid-cell,
  .no-padding {
    padding: 0;
  }
  .main-menu {
    position: fixed;
  }
  .content-padding {
    padding: 15px;
  }
  .square-and-flat {
    border-radius: 0;
  }
  .square-and-flat:after {
    display: none;
  }
  .recent-menu {
    font-size: $v-font-size - 4px;
    line-height: $v-font-size + 6px;
    height: 26px;
    @extend .square-and-flat;
  }
  .recent-menu:after {
    display: none;
  }
  .v-panel-caption {
    font-size: $v-font-size + 2px;
    font-weight: 700;
  }
  .v-loading-indicator:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    //background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: auto; // force disable of mouse
  }

  .v-loading-indicator[style*="none"]:before { // search for display: none
    display: none;
  }
  .h3-padding {
    margin-left: 20px;
  }
  .half-margin-true {
    margin: $v-layout-margin-top/2 $v-layout-margin-right/2 $v-layout-margin-bottom/2 $v-layout-margin-left/2;
  }
  .half-padding-true {
    padding: $v-layout-margin-top/2 $v-layout-margin-right/2 $v-layout-margin-bottom/2 $v-layout-margin-left/2;
  }
  .v-label-deviation {
    padding-top: 2px;
  }
  .deviation {
    .exceeds {
      color: #b71c1c;
    }
    .fine {
      color: #4CAF50;
    }
    .convergence {
      color: #609aed;
    }
  }
  .version {
    margin-right: 5px;
    font-size: 12px;
    color: #7b7b7b;
  }
  .wrapped-text {
    max-width: 500px;
    overflow: hidden;
    word-wrap: normal;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
  }
  .overflow-auto {
    overflow: auto;
  }

  .v-tooltip {
    background-color: $v-background-color;
    color: $v-font-color;
  }

  .fixed-min-icon-size .v-icon {
    min-width: 20px;
  }

  .trigger-timer-1,
  .trigger-timer-2,
  .trigger-timer-3 {
    min-width: 55px;
  }
}
